.form {
    margin: 15px 10px 35px 10px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form__textbox {
    margin-top: 15px;
    width: 100%;
    height: auto;
    min-height: 250px;
    outline: transparent;
    outline-width: 5px;
    resize: none;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 15px;
}

.form__textbox:focus {
    outline: #0F0F0F;
}

.btn {
    width: 100%;
    background-color: #0F0F0F;
    color: #FBFBFB;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.btn:hover {
    opacity: 0.75;
    cursor: pointer;
}


@media (min-width: 768px) {
    .form {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }

    .form__textbox,
    .btn,
    .form__label {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .form {
        width: 50%;
    }

    .form__textbox {
        font-size: 25px;
    }
}