.footer {
    background-color: #2D2E2E;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #FBFBFB;
}

@media (min-width: 768px) {
    .footer__paragraph {
        font-size: 20px;
    }
}

